---
fullTitle: LensKit Recommender Toolkit
scripts:
- //platform.twitter.com/widgets.js
layout: shell
header:
  title: hide
---
<header class="row">
  <div class="large-12 columns logo">
    <img src="/s/logo.png" alt="LensKit">
    <p>Open-Source Tools for Recommender Systems
    <p style="font-style: italic;"><strong>Note:</strong> This is not yet the official LensKit web site; you probably want to visit the <a href="http://lenskit.grouplens.org">official site</a>.</p>
  </div>
</header>
<div class="row">
  <div class="medium-6 columns use-case">
    <div class="uc-header">
      <img class='uc-logo' src="/s/building.svg">
      <h2>Build</h2>
      <p>Use LensKit to build your next recommender application.
    </div>
  </div>
  <div class="medium-6 columns use-case">
    <div class="uc-header">
      <img class='uc-logo' src="/s/science.svg">
      <h2>Research</h2>
      <p>Use LensKit to research recommender algorithms, evaluation techniques, or user experience.
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns project-info">
    <section>
      <h2>Download LensKit</h2>
      <ul class='highlights'>
        <li>Latest version: <a href="/releases/lenskit-{{site.lenskit.version}}.html">{{site.lenskit.version}}</a>
        {% if site.lenskit.prerelease %}
        <li>Latest prelease: <a href="/releases/lenskit-{{site.lenskit.next}}.html">{{site.lenskit.prerelease}}</a>
        {% endif %}
        <li><a href="http://search.maven.org/#artifactdetails|org.grouplens.lenskit|lenskit-all|2.1-M4|jar">Get from Maven Central</a>
        <li><a href="https://github.com/grouplens/lenskit">Get the source on GitHub</a>
      </ul>
      <div class="read-more"><a href="download/">More download information &rightarrow;</a></div>
    </section>
    <section>
      <h2>Learn about LensKit</h2>
      <ul class='highlights'>
        <li><a href="http://www.youtube.com/watch?v=ug_JfORWK7w">Watch the video</a>
        <li><a href="documentation">Read the documentation</a>
      </ul>
    </section>
    <section>
      <h2>Connect with LensKit</h2>
      <ul class='highlights'>
        <li>Join our <a href="https://wwws.cs.umn.edu/mm-cs/listinfo/lenskit">mailing list</a>
        <li>Report and discuss <a href="https://github.com/grouplens/lenskit/issues">issues on GitHub</a>
        <li><a href="https://twitter.com/intent/user?screen_name=LensKitRS">Follow LensKit on Twitter</a>
      </ul>
    </section>
  </div>
  <div class="show-for-large-up large-1 columns">&nbsp;</div>
  <div class="medium-6 large-5 columns twitterbox">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LensKitRS" data-widget-id="285782633399599104">Tweets by &commat;LensKitRS</a>
  </div>
</div>
<div class="row">
  <section class="small-12 columns">
    <h2 class="subheader">Acknowledgements</h2>
    {% include thanks.html %}
  </section>
</div>
