<ul class="side-nav">
  <li class="heading"><a href="/documentation/" data-match="exact">Documentation</a>
  <li><a href="/documentation/basics/">LensKit Basics</a>
  <li><a href="/documentation/algorithms/">Algorithms</a>
  <li><a href="/documentation/evaluator/">Evaluator</a>
  <li><a href="/documentation/versioning/">Versioning</a>
  <li><a href="/releases/">Release Notes</a>
  <li><a href="/apidocs/">API Docs ({{site.data.lenskit.version}})</a>
  {%if site.data.lenskit.prerelease%}
  <li><a href="/next/apidocs/">API Docs (milestone {{site.data.lenskit.prerelease}})</a>
  {%endif%}
  <li><a href="/master/apidocs/">API Docs (development)</a>
</ul>
