<div class="pure-menu">
  <span class="pure-menu-heading"><a href="/documentation/" data-match="exact" class="">Documentation</a></span>
<ul class="pure-menu-list">
  <li class="pure-menu-item"><a class="pure-menu-link" href="/documentation/basics/">LensKit Basics</a>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/documentation/algorithms/">Algorithms</a>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/documentation/evaluator/">Evaluator</a>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/documentation/cli/">CLI Tools</a>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/documentation/versioning/">Versioning</a>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/releases/">Release Notes</a>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/apidocs/">API Docs ({{site.data.lenskit.version}})</a>
  {%if site.data.lenskit.prerelease%}
  <li class="pure-menu-item"><a class="pure-menu-link" href="/next/apidocs/">API Docs (milestone {{site.data.lenskit.prerelease}})</a>
  {%endif%}
  <li class="pure-menu-item"><a class="pure-menu-link" href="/master/apidocs/">API Docs (development)</a>
</ul>
</div>
