<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
    {% if page.header.title != "hide" %}
    <h1><a href="/">LensKit</a></h1>
    {% endif %}
    </li>
  </ul>
  <section class="top-bar-section" id="site-menu">
    <ul class="right">
      <!-- <li><a href="/news/">News</a> -->
      <li><a href="/download/">Download</a>
      <li><a href="/documentation/" data-match="re:^/(documentation|releases)/">Documentation</a>
      <li><a href="/research/">Research</a>
      <li><a href="/connect/">Connect</a>
    </ul>
  </section>
</nav>
