$breakpoint: 48em;

.shell {
  margin: 0 auto;
  max-width: 54em;
}

.main {
  padding: 0 1ex;

  @media screen and (min-width: $breakpoint) {
    padding: 0;
  }
}

footer {
  font-size: .8rem;
  font-style: italic;
  margin-top: 1em;
  text-align: center;
}

.spacer {
  display: none;

  @media screen and (min-width: $breakpoint) {
    display: block;
  }
}
