.sidebar {
  .pure-menu {
    margin-top: 1rem;
    margin-left: 1ex;
    margin-right: 1ex;
    font-family: $header-font;
  }

  .pure-menu-heading {
    font-family: $caption-font;
    letter-spacing: .5pt;

    a:link,
    a:visited {
      color: $text-color;
    }
  }

  .active {
    font-weight: bold;
  }
}
