.frontpage {
  .banner {
    box-sizing: border-box;
    padding: 2em 0 3em;
    text-align: center;

    .slogan {
      font-size: 1.2rem;
      font-style: italic;
    }
  }

  .acknowledgements {
    margin: 1ex 1em;

    h2 {
      color: $light-color;
      font-weight: normal;
    }
  }

  .read-more {
    text-align: right;

    @media screen and (min-width: $breakpoint) {
      padding-right: 2em;
    }
  }
}

.use-case .uc-header {
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 2pt 0;
  }

  p {
    margin-top: 3pt;
  }

  .uc-logo {
    height: 120px;
    width: 120px;
  }
}

.project-info section:first-child h2 {
  margin-top: 0;
}
