$butter-light: #fce94f;
$butter-med: #edd400;
$butter-dark: #c4a000;

$orange-light: #fcaf3e;
$orange-med: #f57900;
$orange-dark: #ce5c00;

$chocolate-light: #e9b96e;
$chocolate-med: #c17d11;
$chocolate-dark: #8f5902;

$chameleon-light: #8ae234;
$chameleon-med: #73d216;
$chameleon-dark: #4e9a06;

$blue-light: #729fcf;
$blue-med: #3465a4;
$blue-dark: #204a87;

$plumb-light: #ad7fa8;
$plumb-med: #75507b;
$plumb-dark: #5c3566;

$red-light: #ef2929;
$red-med: #c00;
$red-dark: #a40000;

$aluminium1: #eeeeec;
$aluminium2: #d3d7cf;
$aluminium3: #babdb6;
$aluminium4: #888a85;
$aluminium5: #555753;
$aluminium6: #2e3436;
