@import "settings";
// @import "foundation";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/type";
@import "foundation/components/top-bar";
@import "foundation/components/side-nav";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$caption-font: 'PT Sans Caption', 'PT Sans', sans-serif;
nav.top-bar {
  h1 {
    font-family: $caption-font;
  }
}

body {
  margin-top: $topbar-height;
}

header div{
  @extend .text-center;
  padding-top: 50px;
  padding-bottom: $topbar-height + 45px;
}

pre {
  font-size: $paragraph-font-size;
}

article {
  ul, ol {
    margin-left: 2em;
  }
}

.main {
  max-width: $row-width;
  margin: 0 auto;
}

footer {
  @extend .row;
  @extend .text-center;
  color: $subheader-font-color;
  font-style: italic;
}

.use-case .uc-header {
  @extend .text-center;
  .uc-logo {
    height: 120px;
    width: 120px;
  }
}

.project-info {
  section {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.read-more {
    @extend .text-right;
    font-style: italic;
    font-size: $paragraph-font-size;
}

.index article {
    padding-left: 2rem;
}

.side-nav {
  .heading {
    font-family: $caption-font;
    a {
      font-family: $caption-font !important;
    }
  }
}

.citation {
    line-height: 130%;
    font: {
        size: $paragraph-font-size;
    }
    padding: {
        left: 2rem;
        right: 2rem;
    }
    margin-bottom: $paragraph-margin-bottom;

    .pub-venue {
        font-style: italic;
    }
}

aside {
    font: {
        style: italic;
        size: $paragraph-aside-font-size;
    }
    margin-bottom: $paragraph-margin-bottom;
    padding: {
        left: 2rem;
        right: 2rem;
    }
}
