<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {% if page.fullTitle %}
  {{page.fullTitle}}
  {% else %}
  LensKit &mdash; {{page.title}}
  {% endif %}
</title>
<link rel="icon" type="image/png" href="/s/lenskit-mini.png">
<link rel="stylesheet" href="/s/master.css">
<link rel="stylesheet" href="/s/syntax.css">
{% capture basename %}{{ page.url | split:"/" | last }}{% endcapture %}
{% if basename == 'index.html' %}
<link rel="canonical" href="{{ page.url | remove: 'index.html' }}">
{% endif %}
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [
      'Tinos:400,700,400italic:greek,latin',
      'PT+Sans:400,700:latin',
      'Inconsolata:400,700:latin',
      'PT+Sans+Caption:400,700:latin'
    ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();</script>
<script type="text/javascript" data-main="/s/lenskit.min" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js" async>
</script>
</head>
<body>
<div class="fixed">
  {% include menu.html %}
</div>
{{content}}
<footer>
  {% include footer.html %}
</footer>
{% for script in page.scripts %}
<script type="text/javascript" src="{{script}}"></script>
{% endfor %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.ekstrandom.net/stats/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.ekstrandom.net/stats/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
